
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>two</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            $("#sp").html('@ViewBag.name');
        })
    </script>
</head>
<body>
    <div> 
        <span id="sp"></span>
    </div>
</body>
</html>
